* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	background-color: rgb(24, 26, 27);
}

.container {
	background-color: #3535eb;
	width: 412px;
	height: 915px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	row-gap: 150px;
	column-gap: 40px;
}

.logo {
	width: 150px;
	height: 150px;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 35px;
	margin-left: 70px;
}

.box {
	width: 150px;
	height: 150px;
}